html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video, a:visited {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
}

@font-face {
    font-family: 'Potra';
    src: url('/assets/webfonts/Potra.eot');
    src: url('/assets/webfonts/Potra.eot') format('embedded-opentype'),
    url('/assets/webfonts/Potra.woff2') format('woff2'),
    url('/assets/webfonts/Potra.woff') format('woff'),
    url('/assets/webfonts/Potra.ttf') format('truetype');
    /* url('/assets/webfonts/Potra.svg#Potra') format('svg'); */
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('/assets/webfonts/Oswald-Regular.eot');
    src: url('/assets/webfonts/Oswald-Regular.eot') format('embedded-opentype'),
    url('/assets/webfonts/Oswald-Regular.woff2') format('woff2'),
    url('/assets/webfonts/Oswald-Regular.woff') format('woff'),
    url('/assets/webfonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body {
    background: #2b2b2b;
}

.logo {
    background-color: pink;
    height: 100px;
}

.navigation {
    float: right;
    height: 100px;
}

.brand {
    font-family: 'Potra';
    color: #FEFBEA;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    float: left;
    background-color: red;
}


/* wird auf mobile kleiner */
@media screen and (max-width: 985px) {
    .brand {
        font-size: 30px;
    }
}

nav {
    margin: 30px 100px 0 0;
}

nav a {
    font-family: 'Oswald';
    font-size: 26px;
    color: #FEFBEA;
    margin: 0 10px 0 10px;
    padding: 5px 10px 7px 10px;
    /* border-style: solid;
    border-width: 2px;
    border-color: #2b2b2b;
    border-radius: 10px; */
}
/*
nav a:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #FEFBEA;
    border-radius: 10px;
} */