html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video, a:visited {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
}

/* -----HEADER----- */

@font-face {
    font-family: 'Potra';
    src: url('/assets/webfonts/Potra.eot');
    src: url('/assets/webfonts/Potra.eot') format('embedded-opentype'),
    url('/assets/webfonts/Potra.woff2') format('woff2'),
    url('/assets/webfonts/Potra.woff') format('woff'),
    url('/assets/webfonts/Potra.ttf') format('truetype');
    /* url('/assets/webfonts/Potra.svg#Potra') format('svg'); */
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    src: url('/assets/webfonts/Oswald-Regular.eot');
    src: url('/assets/webfonts/Oswald-Regular.eot') format('embedded-opentype'),
    url('/assets/webfonts/Oswald-Regular.woff2') format('woff2'),
    url('/assets/webfonts/Oswald-Regular.woff') format('woff'),
    url('/assets/webfonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body {
    background: whitesmoke;
    overflow: hidden;
    min-height: 100vh;
}
.header {
    height: 120px;
}

/*----- Menu ----*/

.navbar {
    float: right;
    height: 100px;
}
nav ul  {
    margin-top: 20vw;
}
nav ul li {
    list-style:  none;
    margin: 35px 0;
}
nav ul li a {
    text-decoration:  none;
    font-size: 60px;
    color: #FEFBEA;
    letter-spacing: 5px;
    padding: 5px;
    font-family: Potra;
    transition: color 0.2s;
}
@media screen and (max-width: 900px) { 
    nav ul li a {
        font-size: 46px;
    }
}
nav ul li a:hover {
    color: dimgrey;
}
nav {
    position: absolute;
    width:  100%;
    height: 100vh;
    background: rgba(0,0,0, 1);
    z-index: 2;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.brand {
    font-family: 'Potra';
    color: black;
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    float: left;
    margin: 40px 0 0 30px
}
@media screen and (max-width: 900px) {
    .brand {
        font-size: 30px;
        margin: 14px 0 0 16px
    }
}

.close-icon {
    width: 50px;
    position: absolute;
    right: 80px;
    top: 50px;
    cursor: pointer;
    background-color: black;
}
@media screen and (max-width: 900px) {
    .close-icon {
        width: 28px;
        right: 20px;
        top: 18px;
    }
}
.menu-icon {
    width: 40px;
    position: absolute;
    right: 85px;
    top: 55px;
    cursor: pointer;
    margin: 0;
}
@media screen and (max-width: 900px) {
    .menu-icon {
        width: 28px;
        right: 20px;
        top: 18px;
    }
}

/* -----GALLERY----- */

.wrapper{
    display: flex;
    max-width: 96vw;
    position: relative;
    margin: 10vw auto 0 auto;
}
.wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: rgba(254, 251, 234, 0.6);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
    background: #f2f2f2;
}
.wrapper i:first-child{
    left: 10px;
    display: none;
}
.wrapper i:last-child{
    right: 10px;
}
.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    overflow-x: scroll;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}
.carousel img{
    object-fit: cover;
    scroll-snap-align: start;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel img:first-child{
    margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel img{
      width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
      width: 100%;
  }
}

/* ---- anfrage ----*/

.form-anfrage {
    margin-top: 5vw;
}
form div {
    width: 50vw;
    min-width: 320px;
    max-width: 1500px;
    margin: 30px auto;
    display: block;
    align-content: center;
}
.form-item {
    width: 34vw;
    min-width: 300px;
    display: block;
    margin: auto;
    font-family: 'Oswald';
    font-size: 1.2em;

}
select {
    width: 34vw;
    min-width: 300px;
    height: 34px;
    display: block;
    margin: auto;
    font-family: 'Oswald';
    font-size: 1.2em;
}
form div input {
    height: 34px;
    border-radius: 6px;
}
form div input:focus {
    outline-color: #FEFBEA;
}
.actions li {
    list-style-type: none;
    display: block;
    margin: auto;
}
textarea {
    border-radius: 6px;
    resize: vertical;
}
.submit {
    width: 40vw;
    min-width: 300px;
}
.actions li input {
    margin:auto;
    display: block;
    height: 40px;
    width: 140px;
    font-size: 1.2em;
    font-family: 'Oswald';
}
label {
    display: block;
}
.toc input {
    width: 18px;
    height: 18px;
    padding: 0;
    margin:0 5px 0 0;
    vertical-align: bottom;
    position: relative;
    top: -5px;
    *overflow: hidden;
}
label a  {
    color: dimgrey;
    text-decoration: none;
    border-bottom: 2px dotted rgba(96, 96, 96, 0.6);
}

/* ---- Portfolio ---- */

.portfolio{
    width: 86vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10vw auto 0 auto;
}
.portfolio-item {
    width: calc(100% / 2);
    margin-bottom: 2.4vw;
    text-align: center;
}
@media screen and (max-width: 900px) {
    .portfolio-item {
        width: 100%;
        margin-bottom: 6vw;
    }
}
.portfolio-item img {
    width: 94%;
    display: block;
    margin: auto;
    border-radius: 16px;
}
@media screen and (max-width: 900px) {
    .portfolio-item img {
        border-radius: 12px;
    }
}
.portfolio-text {
    position: absolute;
    width: 40.43vw;
    margin-left: 1.3vw;
    height: 26.95vw;
    transform: translate(0, -26.95vw);
    border-radius: 16px;
    transition: background-color 0.3s;
}
@media screen and (max-width: 900px) {
    .portfolio-text {
        width: 80.90vw;
        margin-left: 2.5vw;
        height: 53.85vw;
        transform: translate(0, -53.85vw);
        border-radius: 12px;
    }
}
.portfolio-text h2 {
    font-size: 4vw;
    font-family: 'potra';
    color: whitesmoke;
    margin-top: 11.1vw;
    pointer-events: none;
    -webkit-user-select:  none;
    -ms-user-select:  none;
    user-select:  none;
}
@media screen and (max-width: 900px) {
    .portfolio-text h2 {
        font-size: 8vw;
        margin-top: 22.2vw;
    }
}
.portfolio-text:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

    /* ---- Footer ---- */

footer {
    height: 60px;
    margin-top: 500px; /* UNBEDINGT NOCH ANPASSEN FOOTER MUSS IMMER AM ENDE SEIN */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.black-row {
    height: 2px;
    width: 30vw;
    min-width: 260px;
    margin: 0 auto;
    background-color: rgba(96, 96, 96, 0.3);
    border-radius: 10px;
}
footer ul {
    list-style:  none;
    text-decoration: none;
    margin-top: 14px;
}
footer ul li {
    display: inline-block;
    margin: 0 13px 0 13px
}
footer ul li a {
    text-decoration: none;
    font-family: 'Oswald';
    font-size: 1em;
    color: rgba(96, 96, 96, 0.6);
    border-bottom: 2px dotted rgba(96, 96, 96, 0.6);
}
.copyright {
    font-family: 'Oswald';
    font-size: 1em;
    color: rgba(96, 96, 96, 0.6);
}