@font-face {
    font-family: 'Potra';
    src: url('/assets/webfonts/Potra.eot');
    src: url('/assets/webfonts/Potra.eot') format('embedded-opentype'),
    url('/assets/webfonts/Potra.woff2') format('woff2'),
    url('/assets/webfonts/Potra.woff') format('woff'),
    url('/assets/webfonts/Potra.ttf') format('truetype');
    /* url('/assets/webfonts/Potra.svg#Potra') format('svg'); */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body {
    background: mintcream;
}
.wrapper {
    padding: 10vw 1rem 1rem 1rem;
    text-align: center;
}

.logo {

}

.navigation {

}

h1 {
    font-family: 'Potra';
    font-size: 60px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 10px 0 0 20px;
}

/* Font wird auf mobile kleiner */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
        margin: 5px 0 0 5px;
    }
}
