@font-face {
    font-family: 'Potra';
    src: url('/assets/webfonts/Potra.eot');
    src: url('/assets/webfonts/Potra.eot') format('embedded-opentype'),
    url('/assets/webfonts/Potra.woff2') format('woff2'),
    url('/assets/webfonts/Potra.woff') format('woff'),
    url('/assets/webfonts/Potra.ttf') format('truetype');
    /* url('/assets/webfonts/Potra.svg#Potra') format('svg'); */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
h1 {
    font-family: 'Potra';
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
}

wrapper {
    
}